@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Pacifico&family=Russo+One&display=swap');

body 
{
    background-image: url("https://static.wikia.nocookie.net/bandori/images/7/76/Underwater_Wonderland.png");
    background-size: cover;    
    padding: 0;
    margin: 0;
}

#wrapper {
    height: 100vh;
}

.center {
    display: flex;
    align-items: center;
}

#jam, .konten {
    width: 100%;
}

#jam {
    height: 100%;
}

.center p 
{
    text-align: center;
}

#waktu {
    font-size: 64px;
    font-family: 'Russo One', sans-serif;
}

.pesan  {
    font-size: 32px;
    font-family: 'Pacifico', sans-serif;
    color: #225b9e; 
}

#panel-base {
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

#panel {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 11;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
}

#panel p {
    width: 100%;
    color : white;
    font-family: 'New Tegomin', serif; 
}

#btn {
    position: fixed;
    right: 0;
    padding: 20px;
    z-index: 20;
    background-color: #333;
    border: none;
}

#btn img {
    width: 50px;
}

@media only screen and (max-width: 600px) {
    #panel {
        height: 25%;
        width: 100%;
    }
}
