@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Russo+One&display=swap');

body 
{
    background-image: url("https://static.wikia.nocookie.net/bandori/images/7/76/Underwater_Wonderland.png");
    background-size: cover;    
}

#wrapper {
    height: 100vh;
}

.center {
    display: flex;
    align-items: center;
}

#jam, .konten {
    width: 100%;
}

#jam {
    height: 100%;
}

#jam p 
{
    text-align: center;
}

#waktu {
    font-size: 64px;
    font-family: 'Russo One', sans-serif;
}

.pesan {
    font-size: 32px;
    font-family: 'Pacifico', sans-serif;
    color: #225b9e; 
}
